@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap");

body,
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
}

body {
    font-family: "Abhaya Libre", serif;
    color: white;
    background-color: #101010;
}

a {
    color: white;
}

footer {
    position: fixed;
    bottom: 10px;
    left: 50vw;
    transform: translateX(-50%);
    color: #aaaaaa;
}

footer a {
    color: #aaaaaa;
}
