@font-face {
    font-family: "AbhayaLibre";
    src: local("AbhayaLibre"),
        url(fonts/AbhayaLibre-Regular.woff2) format("woff2"),
        url(fonts/AbhayaLibre-Regular.woff) format("woff");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

/*
@font-face {
    font-family: "AbhayaLibre";
    src: local("AbhayaLibre"),
        url(fonts/AbhayaLibre-Medium.woff2) format("woff2"),
        url(fonts/AbhayaLibre-Medium.woff) format("woff");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "AbhayaLibre";
    src: local("AbhayaLibre"),
        url(fonts/AbhayaLibre-SemiBold.woff2) format("woff2"),
        url(fonts/AbhayaLibre-SemiBold.woff) format("woff");
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: "AbhayaLibre";
    src: local("AbhayaLibre"),
        url(fonts/AbhayaLibre-Bold.woff2) format("woff2"),
        url(fonts/AbhayaLibre-Bold.woff) format("woff");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "AbhayaLibre";
    src: local("AbhayaLibre"),
        url(fonts/AbhayaLibre-ExtraBold.woff2) format("woff2"),
        url(fonts/AbhayaLibre-ExtraBold.woff) format("woff");
    font-style: normal;
    font-weight: 800;
    font-display: swap;
}
*/

body,
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
}

body {
    font-family: "AbhayaLibre", serif;
    color: white;
    background-color: #101010;
}

a {
    color: white;
}

footer {
    position: fixed;
    bottom: 10px;
    left: 50vw;
    transform: translateX(-50%);
    color: #aaaaaa;
}

footer a {
    color: #aaaaaa;
}
